
@model List<ProjectBearAndKitty.Models.ShoppingList>

@{
    ViewBag.Title = "Index";
}

<h3>Shopping List</h3>


<table class="table">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>*@
        <th>Name of product</th>
        <th>Amount</th>
        <th>Description </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameOfProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.Description).ToString().ToLower()
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteItem", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@using (Html.BeginForm("AddItem", "Home", FormMethod.Post))
{
    <div>
        <label labelFor="name">Name of product </label>
        <input name="name" id="name" type="text" />
    </div>
    <div>
        <label labelFor="amount">Amount </label>
        <input name="amount" id="amount" type="number" value="1"/>
    </div>
    <div>
        <label labelFor="description">Description </label>
        <input name="description" id="description" type="text" />
    </div>
    <input class="btn btn-default" id="submitButton" type="submit" value="Create" />
}